* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
.img{
    height: 400px;
    width: 600px;
    margin: 30px;
    border-radius: 10px;
}
.range{
    display: block;
    margin-left: 30px;
}
input{
    margin-top: 10px;
    height: 20px;
    width: 200px;
}